[submodule "securemodelines"]
	path = securemodelines
	url = https://github.com/ciaranm/securemodelines.git
[submodule "vim-surround"]
	path = vim-surround
	url = http://github.com/tpope/vim-surround.git
[submodule "vim-repeat"]
	path = vim-repeat
	url = http://github.com/tpope/vim-repeat.git
[submodule "vim-textobj-rubyblock"]
	path = vim-textobj-rubyblock
	url = git://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "vim-textobj-user"]
	path = vim-textobj-user
	url = git://github.com/kana/vim-textobj-user.git
[submodule "greplace.vim"]
	path = greplace.vim
	url = git@github.com:nerdrew/greplace.vim.git
[submodule "nginx-vim-syntax"]
	path = nginx-vim-syntax
	url = git://github.com/evanmiller/nginx-vim-syntax.git
[submodule "Decho"]
	path = Decho
	url = git://github.com/vim-scripts/Decho.git
[submodule "Command-T"]
	path = Command-T
	url = git://github.com/wincent/Command-T.git
[submodule "vim-stylus"]
	path = vim-stylus
	url = git://github.com/wavded/vim-stylus.git
[submodule "vim-markdown"]
	path = vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "ag.vim"]
	path = ag.vim
	url = git://github.com/rking/ag.vim.git
[submodule "vim-vroom"]
	path = vim-vroom
	url = git@github.com:nerdrew/vim-vroom.git
[submodule "dart-vim-plugin"]
	path = dart-vim-plugin
	url = git@github.com:nerdrew/dart-vim-plugin.git
[submodule "vim-golang"]
	path = vim-golang
	url = git@github.com:jnwhiteh/vim-golang.git
[submodule "vim-easy-align"]
	path = vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "vimux"]
	path = vimux
	url = git@github.com:benmills/vimux.git
[submodule "vim-addon-local-vimrc"]
	path = vim-addon-local-vimrc
	url = git@github.com:nerdrew/vim-addon-local-vimrc.git
[submodule "vim-syntastic"]
	path = vim-syntastic
	url = git@github.com:nerdrew/syntastic.git
[submodule "rust.vim"]
	path = rust.vim
	url = git://github.com/wting/rust.vim.git
[submodule "YankRing.vim"]
	path = YankRing.vim
	url = git@github.com:vim-scripts/YankRing.vim.git
